<div class="container">
    <div class="row vertical-center">
      <body>
        <video
          id="my-video"
          class="video-js"
          preload="auto"
          controls
          width="640"
          height="264"
          poster="MY_VIDEO_POSTER.jpg"
          data-setup="{}"
        >
          <source src="https://localhost:3000/video" type="video/mp4" />
          <!-- <source src="/home/eagerbeaver/personal_projects/streaming/public/movies/noes1.mp4" type="video/mp4"> -->
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="/video" target="_blank"
              >supports HTML5 video</a
            >
          </p>
        </video>
    </div>
  </div>