<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <!-- <a class="navbar-brand" href="#">RetroStream</a> -->
  <img src="https://fontmeme.com/permalink/200317/499c3d255564927066c59d20e38d161d.png" alt="">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          ><i class="fas fa-user-circle fa-2x"></i
        ></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout" id="freddy2">Logout <%= name %></a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- CAROUSEL -->
<div class="dashboard-body">
<!-- Swiper -->
<div class="netflix">
  <h4>2000's and above</h4>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/images/freddy1.png" alt="" />
        <div class="container-overlay">
          <a href="/video?id=FREDDY1" id="FREDDY1"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
    </div>
      <div class="swiper-slide">
        <img src="/images/freddy2.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy3.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy4.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/goonies.png" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div></div>
      <div class="swiper-slide">
        <img src="/images/freddy1.png" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/hellraiser.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy2.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy3.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy4.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
    </div>
    <!-- Add Arrows-->
    <div class="swiper-button-next" style="color:#fff;"></div>
    <div class="swiper-button-prev" style="color:#fff;"></div>
  </div>
</div>

<div class="netflix">
  <h4>90s</h4>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/images/lastcrusade.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/backtofuture1.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/backtofuture2.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/backtofuture3.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/ferris.png" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/homealone.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/terminator2.png" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/templedoom.png" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/hellraiser.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy4.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
    </div>
    <!-- Add Arrows-->
    <div class="swiper-button-next" style="color:#fff;"></div>
    <div class="swiper-button-prev" style="color:#fff;"></div>
  </div>
</div>

<div class="netflix">
  <h4>80s</h4>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/images/freddy1.png" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy2.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy3.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy4.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/goonies.png" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy1.png" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/hellraiser.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy2.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy3.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy4.jpeg" alt="" />
        <div class="container-overlay">
          <a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a>
        </div>
      </div>
    </div>
    <!-- Add Arrows-->
    <div class="swiper-button-next" style="color:#fff;"></div>
    <div class="swiper-button-prev" style="color:#fff;"></div>
  </div>
</div>
<div class="netflix">
  <h4>70s and Below</h4>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/images/lastcrusade.jpeg" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/backtofuture1.jpeg" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/backtofuture2.jpeg" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/backtofuture3.jpeg" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/ferris.png" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/homealone.jpeg" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/terminator2.png" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/templedoom.png" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/hellraiser.jpeg" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="/images/freddy4.jpeg" alt="" />
        <div class="container-overlay">
          <a href=""><a href="#"><i class="far fa-play-circle fa-3x" style="color:#fff;"></i></a></a>
        </div>
      </div>
    </div>
    <!-- Add Arrows-->
    <div class="swiper-button-next" style="color:#fff;"></div>
    <div class="swiper-button-prev" style="color:#fff;"></div>
  </div>
</div>
</div>

<!-- Swiper JS -->
<script src="/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
      var swiper = new Swiper(".swiper-container", {
        slidesPerView: 4,
        spaceBetween: 4,
        slidesPerGroup: 2,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        breakpoints: {
          320: {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          768: {
            slidesPerView: 4,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 6,
            spaceBetween: 20,
          },
        }      
      });
</script>
